<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.css"/>

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="admin.css"/>

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>

    <title>Admin</title>
</head>
<body>
<div class="container">
    <div class="pull-right">
        <a href="/item/create" th:href="@{/item/create}">Create Message</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Category</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${items.empty}">
            <td colspan="3">No items</td>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.category}"></td>
        </tr>
        </tbody>
    </table></div>

<script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>