<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../css/bootstrap.css" />
		<link rel="stylesheet" th:href="@{/css/create.css}" href="../../css/create.css" />

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'/>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>

		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Add Item</h1>
	               		<hr />
	               	</div>
	            </div>
                <div class="pull-right">
                    <a href="/item/adminlist" th:href="@{/item/adminlist}">See All List</a>
                </div>
				<div class="main-login main-center">
					<form th:action="@{/item/create}"  class="form-horizontal" method="post" >
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Dish Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter Dish Name" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="category" class="cols-sm-2 control-label">Category</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input type="text" class="form-control" name="category" id="category"  placeholder="Enter Dish Category"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="price" class="cols-sm-2 control-label">Unit Price</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input type="text" class="form-control" name="price" id="price"  placeholder="Enter Dish Price"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="calories" class="cols-sm-2 control-label">Calories</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input type="text" class="form-control" name="calories" id="calories"  placeholder="Enter Dish Calories"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="prepare_time" class="cols-sm-2 control-label">Preparation Time</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input type="text" class="form-control" name="prepare_time" id="prepare_time"  placeholder="Enter Preparation Time"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Add</button>
						</div>
						<div class="login-register">
				            <a href="index.php">Back</a>
				         </div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
</html>